Ouestion 01: 
**In the below elements which of them are values or an expression? eg:- values can be integer or string and expressions will be mathematical operators.**

Answer: 

1. '*' = Expression

2. 'hello'= string

3. -87.8 = float

4. '-' = Expression

5. / = Expression

6. '+' = Expression

7. 6 = Integer

Question 02: 
**What is the difference between string and variable?**

Answer:

- Variable is a name of the location that can store values like string and integers
- String is value which is assigned to variable, string is character type data type

Question 03: 
**Describe three different data types ?**

Answer:

* Integer: It holds numerical values Ex. 1, 2, or 73
* String: It holds character values Ex. 'a' or names.
* float: It holds decimal values for example 4.5, 3.9 etc.

Question 04:
 **What is an expression made up of? What do all expressions do?**

Answer:

* Expression includes variables and operators, In expression we give input so that we can get output

Question 05: 
**This assignment statements, like spam = 10. What is the difference between an expression and a statement?**

Answer:
* Statements: Statements are nothing but the natural sentences and also statements can be expressions too. We can't execute statements
* Expressions: Expressions delivers output. We can execute statements.

Question 06: 
**After running the following code, what does the variable bacon contain?**

bacon = 22

bacon + 1

In [13]:
bacon = 22

In [14]:
bacon+1

23

Question 07: What should the values of the following two terms be?
&#39;spam&#39; + &#39;spamspam&#39;
&#39;spam&#39; * 3


Answer:
* spam will get printed as 'spamspamspamspamspamspamspamspamspamspam'

In [15]:
'spam'+'spamspam''spam'*3

'spamspamspamspamspamspamspamspamspamspam'

Question 08: 
**Why is eggs a valid variable name while 100 is invalid?**

Answer:

* Because that's the rule we can eggs as a valid variable name but we try to use numeric value as variable it will throw the error for example "can't assign to literal"  as per the rule variable name should start with letter only.

Question 09: 
**What three functions can be used to get the integer, floating-point number, or string version of a value?**

Answer:
- Integer: int()
- Floating-point number: float()
- String: str()

Question 10: 
**Why does this expression cause an error? How can you fix it? &#39;I have eaten &#39; + 99 + &#39; burritos.&#39;**


Answer:

---------------------------------------------------------------------------
TypeError                                 Traceback (most recent call last)
<ipython-input-22-999472c22316> in <module>()
----> 1 ('I have eaten '+99+' burritos.')
      2 

TypeError: can only concatenate str (not "int") to str

- As we can see above we can't add/concatenate string variable with integer
- varable. data type needs to be of the same data type.
- We can fix this by simply adding '' in 99 so that it will become sting as well '99'

In [22]:
'I have eaten '+99+' burritos.'

TypeError: ignored

In [23]:
'I have eaten '+'99'+' burritos.'

'I have eaten 99 burritos.'